<!-- alunos-lista.component.html -->
<p-card header="Lista de Alunos">
  <!-- Botão Novo, só aparece quando terminar de carregar -->
  <div
    *ngIf="!carregando"
    class="flex flex-wrap col-12 justify-content-between align-items-center mb-3 " style="margin-bottom: 1rem;">
    <p-button
      icon="pi pi-plus"
      routerLink="cadastro"
      label="Novo"
      [ngStyle]="{ 'margin-bottom': '1rem' }"
      pFocusTrap
    ></p-button>
  </div>

  <!-- Tabela de alunos -->
  <p-table
    *ngIf="!carregando"
    [value]="alunos"
    [paginator]="true"
    [rows]="5"
    [virtualScroll]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [scrollable]="true"
    scrollHeight="400px"
    [loading]="carregando"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th width="150px">ID</th>
        <th width="300px">Nome</th>
        <th width="200px">CPF</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-aluno>
      <tr>
        <td>{{ aluno.idaluno }}</td>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.cpf }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
